@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


body{
    font-family: "Prata", sans-serif;
}
.about-us{
    display: flex;
}
.about-us-contain{
    width: 100%;
}
.about-us-contain .about-us-description{
    margin: 55px 150px 120px 100px;
}
.about-us-img{
    width: 100%;
    background-image: url("./hello.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}
.about-us-contain{
    background-color: #333333;
}
.about-us-contain .about-us-description .about-us-heading span{
    font-size: 36px;
    font-family: inherit;
    font-weight: 400;
    color: #9f7150;
}
.about-us-contain .about-us-description .about-us-heading p{
    color: #ffffff86;
    max-width: 571px;
    margin-top: 20px;
}
.about-us-contain .about-us-description .about-us-logo{
    margin-top: 25px;
    margin-bottom: 45px;
}
/* .about-us-contain .about-us-description .about-us-content{
    width: 570px;
} */
.about-us-description .about-us-content p{
    max-width: 650px;
    font-size: 14px;
    line-height: calc(24/14);
    color: #989898;
}
.about-us-description .about-us-content p:nth-child(2){
    margin-top: 25px;
}
@media screen and (max-width: 1540px){
    .about-us-img{
        background-position: 50%;
    }
}
@media  screen and (max-width: 768px){

    .about-us-img{
        display: none;
    }
    .about-us-contain .about-us-description{
        padding:0;
        margin: 50px;
        margin-bottom: 80px !important;

    }
    .about-us-contain .about-us-description .about-us-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: block !important;
        text-align: center;
    }
    .about-us-logo{
        display: flex;
        justify-content: center;
    }
    .about-us-description .about-us-content{
        text-align: center;
        width: 100%;
    }
}