@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


/* news from underground */
.news-container {
    background-image: url("bg_main.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

/* news content */
.news-wrapper {
    width: 1200px;
    width: 100%;
    padding: 0 10%;
    height: 90vh;
    margin: 0 auto;
    color: black;
}

.news-heading{
    font-size: 28px;
    font-weight: 700;
    padding: 5px 0;
    text-align: left;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: black;
    border-bottom: 1px solid black;
    position: relative;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
}

.news-content {
    max-width: 350px;
    margin: 0 auto;
}
.news-content .news-description {
    margin-top: 6px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .news-container {
        height: 12  0vh;
    }

    .news-grid {
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
    }
}