@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


/* news from underground */
.news-container {
    background-image: url("bg_main.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    scroll-behavior: smooth;

}

/* news content */
.news-wrapper {
    width: 1200px;
    width: 100%;
    padding: 0 10%;
    /* height: 90vh; */
    margin: 0 auto;
    color: black;
    scroll-behavior: smooth;

}

.news-heading {
    font-size: 28px;
    font-weight: 700;
    padding: 5px 0;
    text-align: left;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: black;
    border-bottom: 1px solid black;
    position: relative;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.news-content {
    max-width: 320px;
    margin: 0 auto;
    padding: 10px;
}

.news-content img {
    width: 300px;
}

.news-content .news-description {
    margin-top: 6px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {

    .news-grid {
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* Read more button */
.btn {
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #8C5E35;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #8C5E35;
    transition: 0.4s linear;


}

.btn:hover {
    box-shadow: inset 0 0 0 2em #b89b81;
    border-color: #b89b81;
    color: white;
}