@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #9f7150 30%, #DEA20B 70%);
    border-radius: 100rem;

}

body::-webkit-scrollbar-track {
    background-color: #747474;
    border-radius: 100rem;

}