* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop {
    height: 85vh;
    color: #9f7150;

}

.shop-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-heading p:nth-child(1) {
    margin-top: 45px;
    font-size: 50px;
    line-height: calc(65 / 50);
}

.shop-heading p:nth-child(2) {
    color: #787878;
    font-size: 35px;
    line-height: calc(45 / 35);
    margin-bottom: 25px;
}

.shop-product {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.shop-mustache {
    margin-bottom: 52px;
}

.product-content {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 350px;
    border: 1px solid #9f7150;
    border-style: dashed;
    position: relative;
    overflow: hidden;
}
.product-content .product-img{
    width: 250px;
    height: 250px;
    overflow: hidden;
}
.product-content .buy-btn{
    text-align: center;
    cursor: pointer;
    
}
.product-content .buy-btn button{
    padding: 15px;
    background: #333333;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    transform: translateY(0%);
    transition: 0.25s ease-in;
    color:white;
}
.product-content .product-img:hover{
    border: none;
    transition: 0.3s linear;
}
.product-content .product-img:hover .buy-btn button{
    transform: translateY(-100%);
}
.product-content .product-name {
    color: black;
    font-size: 22px;
    text-align: left;
    padding: 0 10px 10px 10px;
}

.product-content .product-price {
    font-size: 20px;
    padding: 0 10px 10px 10px;
    color: #9f7150;
}
.shop .shop-btn {
    margin-top: 80px;
    text-align: center;
}

.shop-btn a {
    color: #9f7150;
    border: 1px solid #9f7150;
    padding: 20px;
    transition: box-shadow 0.5s linear;
}