:root {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
}
a {
  text-decoration: none;
}
html {
  background: no-repeat center center fixed
    url("https://c0.wallpaperflare.com/preview/987/555/718/adults-barber-barbershop-city.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: rgba(0,0,0,0.7); */
}
body {
  background: white;
  overflow-y: scroll;
}
p {
  margin-left: 10px;
  font-weight: 200;
  font-size: 18px;
  color: rgb(202, 160, 105);
}

input,
label,
textarea {
  border: 2px solid rgb(202, 160, 105);
  resize: none;
}
.text-warning {
  color: whitesmoke;
  font-size: 13px;
  font-weight: 150;
  margin-top: -5px;
  visibility: hidden;
}
.text-warning-show {
  color: red;
  visibility: visible;
}
.title {
  position: relative;
  /* text-shadow: 1px 1px #c48e68; */
  color: #9f7150;
  cursor: default;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0;
}
#input {
  display: flex;
  flex: auto;
  height: 40px;
}

/* -------------header------------- */
.img {
  float: left;
  width: 120px;
  height: 100px;
  margin-right: 15px;
}
.header {
  inset: 0;
  position: absolute;
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  background: rgb(25, 25, 25);
}
.option-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  margin-left: 50%;
  transform: translate(-50%, 200px);
  /* width: 420px; */
  /* height: 150px; */
}
.option-items {
  height: 80px;
  width: 140px;
  font-size: 30px;
  line-height: 80px;
  background-color: rgb(46, 45, 45);
  color: white;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  margin: 0 20px;
}
.option-items:hover {
  margin-top: 10px;
  color: black;
  background-color: rgb(239, 255, 159);
  box-shadow: 0px 5px 5px 0px rgb(124, 109, 23);
}

.option-items-focus {
  margin-top: 10px;
  color: black;
  background-color: rgb(239, 255, 159);
  box-shadow: 0px 5px 5px 0px rgb(124, 109, 23);
}

/* -------------dat lich------------- */
@keyframes animation {
  0% {
    transform: translate(-50%, 300px);
  }
  100% {
    transform: translate(-50%, 350px);
  }
}
.appointment {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex: auto;
  flex-direction: column;

  background: rgb(25, 25, 25);
  min-width: fit-content;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px black;

  inset: 0;
  margin-left: 50%;
  transform: translate(-50%, 350px);
  padding: 10px;

  animation: animation;
  animation-duration: 1s;
}
.appointment-1 {
  display: none;
}
.input {
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.input:focus {
  outline: none;
}
.text-warning-show {
  color: red;
}
.text-warning-1 {
  color: red;
  font-weight: 150;
  font-size: 13px;
  visibility: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}
#numb-of-ctms::-webkit-inner-spin-button,
#numb-of-ctms::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numb-ctm-container {
  display: flex;
  flex: auto;
  height: 40px;
}
#incr-btn,
#decr-btn {
  font-size: larger;
}
#incr-btn:hover,
#decr-btn:hover {
  background-color: rgb(202, 160, 105);
}
#incr-btn:focus,
#decr-btn:focus {
  background-color: rgb(202, 160, 105);
  color: black;
}
.btn-container {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.branch-options-container {
  display: flex;
  flex-direction: column;
}
.branch {
  display: flex;
  align-items: center;
  padding-left: 5px;
  text-align: left;
  font-weight: bold;
  background: white;
  color: black;
  word-break: keep-all;
  margin-bottom: 10px;
  border: 2px solid rgb(202, 160, 105);
  cursor: pointer;
  height: inherit;
  transition: background 0.2s ease-in-out;
  height: 40px;
}
.branch:hover {
  background: rgb(202, 160, 105);
  cursor: pointer;
}
.branch-options {
  display: flex;
  flex-direction: column;
  flex: content;
  margin: 0px;
}
.branch-map {
  height: 300px;
  width: inherit;
  margin-bottom: 10px;
  display: none;
  padding: 0px;
}
.branch-bgcolor {
  background: rgb(202, 160, 105);
}
#schedule-box {
  width: 50%;
}
#schedule-box:focus {
  outline: none;
}
#submit-btn {
  color: black;
  flex-grow: 1;
  flex-shrink: 1;
  height: 40px;
  font-size: 1.1em;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(202, 160, 105);
  transition: background 0.2s ease-in-out;
}
#submit-btn:hover {
  background-color: rgb(196, 116, 12);
  cursor: pointer;
}
/* khung gio */

.time-options-container {
  display: grid;
  height: 30%;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(6, 70px);
  justify-content: center;
  gap: 5px;
}
.time-options {
  font-size: 15px;
  border-radius: 5px;
  background: white;
  color: black;
  transition: background 0.2s ease-in-out;
}
.time-options-hover {
  background: black;
  color: white;
  cursor: pointer;
}
.time-options-focus {
  background: black;
  border: 1px solid rgb(202, 160, 105);
  color: white;
}
.time-options-locked {
  pointer-events: none;
  opacity: 0.5;
}
/* -------------dich vu------------- */

.services-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgb(25, 25, 25);
  min-width: fit-content;
  height: fit-content;
  border-radius: 20px;
  inset: 0;
  margin-left: 50%;
  transform: translate(-50%, 350px);
  padding: 10px 10px 10px 20px;
  box-shadow: 5px 5px 10px 0px black;
  animation: animation;
  animation-duration: 1s;
}
.services-container-1 {
  display: none;
}

.services-container {
  list-style: decimal;
  color: rgb(219, 203, 182);
  font-size: 15px;
}
.services-container li {
  margin-bottom: 25px;
  transition: background 0.2s ease-in-out;
  cursor: default;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
}
.services-container li:hover {
  background-color: #9f7150;
}
.services-name {
  width: 100%;
  display: inline-block;
  /* text-decoration: underline; */
  font-size: 22px;
  cursor: default;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid #c99b7a;
}
.services-price {
  float: right;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.services-duration {
  float: right;
  font-size: 20px;
  margin-right: 30px;
  color: gainsboro;
}
.services-container > ol {
  padding: 0 2%;
}
/* -------------ctm-info-sub-container------------- */

.ctm-info-container {
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  inset: 0;
  top: 0;
  left: 0;
  display: none;
}
.ctm-info-sub-container {
  border-radius: 5px;
  border: 1px solid rgb(219, 203, 182);
  background-color: black;
  height: fit-content;
  width: 40%;
  line-height: 30px;

  position: absolute;
  margin-top: 100px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: none;
}
.ctm-info {
  word-break: keep-all;
  color: white;
  margin-left: 40px;
}
.confirm-btn,
.edit-btn {
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.1em;
  color: black;
  background-color: rgb(202, 160, 105);
  margin-bottom: 10px;
  transition: background 0.2s ease-in-out;
  padding: 3px;
}
.confirm-btn:hover,
.edit-btn:hover {
  background-color: rgb(196, 116, 12);
}
