@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #111;
  line-height: 1.15;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.headline {
  /* text-align: center; */
  /* padding: 100px 0; */
  /* margin: px 0 40px 0; */
}
.slideshow-container {
  /* max-width: 1200px; */
  position: relative;
  margin: auto;
  height: 35vh;
}

/* Hide the images by default */
.mySlides {
  background-repeat: repeat;
  display: none;
  height: 100%;
  background-size: contain;
}
.slideshow-container .mySlides:nth-child(1) {
  background-image: url("../slideshow-img/slideshow1.png");
}
.slideshow-container .mySlides:nth-child(2) {
  background-image: url("../slideshow-img/slideshow2.png");
}
.slideshow-container .mySlides:nth-child(3) {
  background-image: url("../slideshow-img/slideshow3.png");
}
.slideshow-container .mySlides:nth-child(4) {
  background-image: url("../slideshow-img/slideshow4.png");
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.headline h1 {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: inherit;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  background-color: black;
  border-radius: 10px;
  box-shadow: 3px -3px 8px 10px brown;
}

.tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  font-weight: inherit;
  font-size: 15px;
}
.tool .filter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.tool .filter form span {
  /* font-size: 30px; */
  margin-bottom: 5px;
}

.tool .filter form label {
  color: black;
  font-weight: 900;
}
.tool input::placeholder{
  text-transform: uppercase;
}
.tool .search {
  background-color: white;
  flex: 1;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool .search input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
}

.tool .search button {
  background-color: black;
  width: 100px;
  height: 100%;
  cursor: pointer;
}
ul.products {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.products li {
  flex-basis: 25%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
  height: 400px;
}

ul.products li img {
  width: 100%;
  height: 100%;
}

ul.products li .product-top {
  position: relative;
  overflow: hidden;
}

ul.products li .product-top .product-thumb {
  width: 250px;
  height: 250px;
}

ul.products li:hover .product-top .product-thumb img {
  filter: opacity(70%);
  cursor: pointer;
}

/* ul.products li .product-top a.buy-now {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: #1f1f20;
  color: #fff;
  padding: 10px 0px;
  position: absolute;
  bottom: -36px;
  width: 250px;
  transition: 0.25s ease-in-out;
  opacity: 0.85;
} */

ul.products li:hover .product-thumb {
  border: 2px solid black;
}

ul.products li .product-info {
  padding: 10px 0px;
  text-align: center;
}

ul.products li .product-info a {
  display: block;
  text-decoration: none;
}

ul.products li .product-info a.product-cat {
  font-size: 17px;
  color: black;
  padding: 3px 0px;
  text-transform: uppercase;
  font-weight: bold;
}

ul.products li .product-info a.product-name {
  color: black;
  padding: 5px 0px;
  font-size: 25px;
  height: 80px;
  /* display: table-cell; 
  vertical-align: middle; */
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.products li .product-info .product-price {
  color: #d81e0a;

  font-weight: 600;
  font-size: 25px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 15px;
  user-select: none;
}

.pagination a {
  color: white;
  float: left;
  padding: 12px 18px;
  margin: 0 2px;
  text-decoration: none;
  border-radius: 50%;
  background-color: #000;
}

.pagination a.active {
  background-color: #ddd;
  color: black;
}

.pagination a:hover {
  background-color: #ddd;
  color: black;
  transform: translateY(-10px);
  transition-duration: 300ms;
  cursor: pointer;
}
.pagination a:first-child:hover,
.pagination a:last-child:hover {
  transform: none;
}
