@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #111;
  line-height: 1.15;
}
.nav .nav-container {
  background-color: #111;
}
#product-information {
  width: 80%;
  margin: 0 10%;
  /* margin-top: 200px; */
}

.product {
  padding: 100px 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.product-content {
  display: flex;
  justify-content: space-between;
}

.product-content-left {
  width: 50%;
}

.product-content-left-img {
  overflow: hidden;
  position: relative;
  border: 2px solid black;
}

.product-content-left-img img {
  width: 100%;
  height: 100%;
}

.product-content-right {
  width: 45%;
}

.product-name h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

.product-price {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: red;
}

.product-quantity {
  display: flex;
  margin-bottom: 20px;
}

.product-quantity p {
  margin-top: 12px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: auto 0;
}

.product-quantity input {
  width: 50px;
  height: 40px;
  font-size: 14px;
  padding-left: 10px;
}

.product-button button {
  width: 300px;
  height: 40px;
  color: white;
  margin: 15px 0;
  background-color: black;
  cursor: pointer;
}

.product-info-title {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #dddddd;
}

.default_pro_info_title {
  border-bottom: 3px solid #9f7150;
}

.product-info-title-name {
  padding-top: 6px;
  cursor: pointer;
  margin-right: 16px;
}

.product-info-title-name p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.product-info-content {
  padding-top: 15px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.product-info-content div {
  text-align: justify;
}

.product-info-content:nth-child(2) {
  text-align: left;
}

.product-related {
  margin-bottom: 50px;
}

.product-related-title {
  margin: 30px 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.product-related-title p {
  font-size: 26px;
  font-weight: bold;
  word-spacing: 8px;
}

.product-related-content {
  display: flex;
  justify-content: space-between;
}

.product-related-content img:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.product-related-item {
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.product-related-item img {
  width: 85%;
}

.arrow-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  color: #bfbfbf;
}

.slider p:hover .arrow-icon {
  color: #6d6d6d;
}
.successful-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.row {
  animation: fade-in 0.3s ease-in;
  background-color: white;
  border-radius: 15px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.successful-content {
  width: 100%;
  padding: 20px;
  text-align: center;
}
.successful-content img {
  width: 76px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
}

.successful-content p {
  font-size: 20px;
  color: #5c5c5c;
}
