@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
    overflow-x: hidden;
}

.footer {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    width: 100vw;
    background: #757575;
    margin-top: 50px;
    display: flex;
    overflow-x: hidden;
    font-family: serif;
}

.footer-main {
    height: inherit;
    width: 100%;
    display: flex;
    background: #2e2925;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.footer-logo {
    margin: 30px auto;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* margin: 0; */
    padding: 0 5%;
}

ul li {
    list-style: none;
    cursor: pointer;
}

.footer-container .footer-content span {
    font-size: 30px;
    padding-bottom: 25px;
    color: white;
}

.footer-content ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
}

.footer-content ul li {
    font-size: 20px;
    /* margin-bottom: 25px; */
    color: rgba(255, 255, 255, 0.5);
}

.footer-content ul li:hover,
.footer-content ul li:hover>a {
    color: white;
    transition: all 0.15s ease-in;
}

.footer-content ul li i {
    padding-right: 10px;
    color: #9f7150;
}

.footer-content ul li a {
    color: rgba(255, 255, 255, 0.5);
}

.footer-more-content {
    display: flex;
    flex-direction: column;

}

.footer-more-content .form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer-more-content .form p {
    font-size: 30px;
    font-weight: 400;
    color: #eee;

}

.footer-more-content .form button {
    display: block;
    padding: 10px;
    background-color: #d1a27c;
    border: none;
    outline: none;
    color: #eee;
    font-weight: 700;
    margin-left: auto;
    margin-bottom: 10px;
}

.footer-more-content .form input {
    background-color: #2e29254f;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 4vh;
    color: white;
    border: 1px solid #767676;
    padding-left: 10px;
}

.footer-more-content .appointment {
    background-color: #50443a;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.appointment:focus {
    outline: none;
}

.appointment {
    text-transform: uppercase;
    float: left;
    display: block;
    padding: 1em 2em;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bold;
    border: 4px solid;
    cursor: pointer;
}

.appointment::after {
    content: "";
    background-color: transparent;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0;
    color: #3f51b5;
    z-index: -1;
}

.appointment:hover::after {
    opacity: 1;
    background-color: #d1a27c;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.appointment,
.appointment:after {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.appointment:hover {
    border: 4px solid #d1a27c;
}

.footer-more-content .footer-social {
    margin-top: 10px;
}

.footer-more-content .footer-social ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-more-content .footer-social ul li {
    font-size: 20px;
    color: white;
    transition: 0.3s ease-in;
}

.footer-more-content .footer-social ul li:hover {
    color: #9f7150;
}

.last-line {
    width: 100%;
    border-top: 1px solid white;
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    color: #727272;
}

.footer-mustache {
    margin: 25px auto;
}

@media screen and (max-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    .footer-content {
        text-align: center;
    }

    .footer-more-content .form {
        text-align: center;
    }

    .footer-more-content .form input {
        width: 100%;
        margin: 20px auto;
    }

    .footer-more-content .form button {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 820px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    .footer-content {
        text-align: center;
    }

    .footer-more-content .form {
        text-align: center;
    }

    .footer-more-content .form input {
        width: 100%;
        margin: 20px auto;
    }

    .footer-more-content .form button {
        margin-bottom: 20px;
    }
}

@media screen and (min-width:821px) and (max-width: 1540px) {
    .footer-container {
        padding: 0;
    }

    .footer-container .footer-content span {
        font-size: 28px;
    }

    .footer-more-content .form p {
        font-size: 28px;
    }

    .footer-content ul li {
        font-size: 18px;
    }
}