.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s linear forwards;
    animation-iteration-count: 1;
}

.active.fade-left {
    animation: fade-left 1s linear forwards;
    animation-iteration-count: 1;
}

.active.fade-right {
    animation: fade-right 1s linear forwards;
    animation-iteration-count: 1;
}

/* Animation On Scroll  */
@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}