.cart{
    position: fixed;
    top: 0;
    right: -30%;
    width: 400px;
    height: 100vh;
    padding: 20px;
    background-color: white;
    color: black;
    box-shadow: -2px 0 4px rgba(0,0,0,0.25);
    text-align: left;
    transition: 0.4s ease;
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
}
.cart.active{
    position: fixed;
    right: 0;
    /* top: 0; */
    /* box-shadow: 10rem 0 0 10rem black; */
    visibility: visible;
    opacity: 1;
}
.cart .cart-title{
    text-align: center;
    text-transform: uppercase;
}
.cart .cart-content{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-content .cart-detail-box .cart-price{
    margin: 5px 0;
    font-weight: 500;
}
.cart-detail-box .cart-quantity{
    width: 20%;   
}
.cart-content i#cart-remove{
    color: #9f7150;
    transform: 0.3s;
    cursor: pointer;
}
.cart-content .cart-detail-box .cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-content  i{
    text-align: left;
}
.cart-content .img-cart{
    width: 140px;
    height: 100px;
    object-fit: cover;
    /* padding: 10px; */
}
.cart .cart-total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}
.cart-total .cart-total-title{
    font-size: 1rem;
    font-weight: 600;
}
.cart-total .cart-total-title,
.cart-total .cart-total-price{
    display: grid;
    margin-top: 10px;
    margin-left: 10px;
}

.cart .btn-buy{
    display: flex;
    margin: 1rem auto 0 auto; 
    padding: 15px 20px;
    color: #9f7150;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    /* border: 4px solid #9f7150; */
    border: none;
    box-shadow: 6px 6px 4px 2px #86836D,-6px -6px 4px 2px #654236;
    transition: 0.5s ease-in-out;
    position: relative;
    /* overflow: hidden; */
    z-index:1;
    text-transform: uppercase;
}
.cart .btn-buy:hover{
    box-shadow: none;
    background-color: #9f7150;
    color: white;
    border-radius: 5px;
}
.cart i#close-btn{
    display: block;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.cart #close-btn:hover{
    color: #9f7150;
}
/* @keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
} */
.over-lay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    /* background-color: red; */
    z-index: 1000;
    display: none;
}
/* @media only screen and (min-width: 767px) and (max-width: 1024px){
    .cart{
        right: -50%;
    }
} */
@media only screen and (max-width: 600px){
    .cart,.over-lay{
        height: 100%;
    }
    .cart{
        right:-100%;
        width: 350px;
    }
    .cart.active{
        right: 25%;
    }
}
@media only screen  and (max-width: 820px){
    .cart,.over-lay{
        /* right: -50%; */
        /* opacity: 1; */
        height: 100%;
    }
    .cart{
        right: -50%;
    }
    .cart.active{
        right: 0;
    }
}