.our-team{
    /* height: 100vh; */
    background-color: #2e2925;
    width: 100%;
    padding: 0 10%;
}
.our-team .our-team-heading{
    width:80%;
    text-align: center;
    margin:0 auto;
}
.our-team .our-team-heading h1{
    padding-top: 50px;
    color: #9f7150;
    font-size: 36px;
    line-height: calc(60 / 36);
}
.our-team .our-team-heading p{
    color: #ffffff94;
    font-size: 20px;
    line-height: calc(25/20);
    margin-top: 30px;
    margin-bottom: 50px;
}
.our-team .our-team-mustache img{
    margin: 26px auto;
    width: 150px;
    height: 30px;
}
.our-team-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-team-content .member .member-photo{
    max-width: 350px;
    height: 550px;
    /* margin-right: ; */
}
.our-team-content .member .member-photo img{
    width: 100%;
    height: 100%;
}
.member {
    position: relative;
    /* animation: hover-out 0.5s linear forwards; */
    overflow: hidden;
    margin-bottom: 80px;
}
.member .member-information{
    animation: hover-out 0.5s linear forwards;
    overflow: hidden;
}
@keyframes hover-out{
    0%{
        transform: translateY(-100%);
        opacity: 1;
    }
    100%{
        transform: translateY(-200%);
        opacity: 0;
    }
}
.member:hover .member-information {
    animation: team 0.5s linear forwards;
}
@keyframes team {
    0%{
        opacity: 0;
        transform: translateY(0%);
    }
    100%{
        opacity: 1;
        transform: translateY(-100%);
    }
}
/* .member:not(:hover) .member-information{
    transform: translateY(100%);
    opacity: 0;
} */
.member-information {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1d27;
    position: absolute;
    transition: 0.6s linear;
    opacity: 0;
    overflow: hidden;
}

.member-information .member-name {
    color: #989898;
    font-size: 25px;
    line-height: calc(27/25);
    letter-spacing: 0.02em;
    margin-top: 30px;
    text-transform: uppercase;
}

.member-information .memeber-career {
    font-size: 18px;
    color: #bc865f;
    line-height: calc(19/15);
    margin-top: 10px;
    margin-bottom: 30px;
}

.member-information p {
    max-width: 300px;
    font-size: 14px;
    line-height: calc(24/14);
    color: #989898;
    letter-spacing: 0.3px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .our-team{
        padding: 0 5%;
    }
    .our-team-content{
        display: flex;
        gap: 10px;
    }
}
@media screen and (max-width: 820px) {
    .our-team{
        padding: 0 5px;
    }
    .our-team .our-team-content .member-photo {
        max-width: 400px;
        height: 600px;
    }
    .our-team .our-team-content .member-photo img{
        width: 100%;
        height: 100%;
    }
    .our-team-content{
        display: grid;
        grid-template-columns: repeat(4,400px);
        overflow: auto;
        margin-top: 50px;
        column-gap: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .member-information{
        width: 100%;
        height: 600px;
    }
    .our-team .our-team-heading h1{
        font-size: 40px;
    }
    .our-team .our-team-heading p{
        font-size: 30px;
    }
    .member-information .member-name{
        font-size: 30px;
    }
    .member-information .memeber-career{
        font-size: 17px;
    }
    .member-information p{
        font-size: 19px;
    }
}
@media screen and (min-width: 821px) and (max-width: 1540px){
    .our-team{
        padding: 0 5%;
    }
    .our-team-content .member .member-photo img{
        width: 300px;
        height: 500px;
    }
    .our-team-content{
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}