@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.service-wrapper {
    /* height: 95vh; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Prata', sans-serif;
    margin-bottom: 140px;
    scroll-behavior: smooth;
    padding-top: 50px;

}

.service-heading {
    text-align: center;
}

.service-heading h1 {
    color: #9f7150;
}

.service-heading p {
    margin-top: 30px;
    max-width: 500px;
    color: #737373;
    margin-bottom: 30px;
}
.service-mustache{
    width: 160px;
    height: 50px;
    margin-bottom: 20px;
}
.service-img {
    width: 450px;
    height: 450px;
    margin-top: 50px;
    position: relative;
}

.service-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* transform: scale(1); */
    /* position: absolute; */
}

.service-container {
    position: relative;

}
.service-content {
    position: absolute;
    width: 585px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    bottom: 350px;
    right: 35px;
}

.even {
    display: flex;
    flex-direction: row;
}
.second {
    left: 20px;
}

.third {
    bottom: 165px;
    right: 170px;
}

.fourth {
    bottom: 165px;
    left: 135px;
}

.fifth {
    bottom: -20px;
    right: 36px;
}

.sixth {
    bottom: -20px;
    left: 20px;
}

.service-content .service-logo {
    width: 120px;
    height: 120px;
    margin-left: 25px;
    position: relative;
}

.service-content .service-logo img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #9f7150;
    border-style: dashed;
    transition: 0.35s linear;
    background: white;
    box-shadow: 0 0 0 10px white;

}

.service-content:hover .service-logo img {
    background: black;
}

.service-description {
    max-width: 330px;
    text-align: right;
}

.service-description p {
    color: #868686;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 0.3px;
}

.service-description h3 {
    color: #1b1d27;
    font-size: 20px;
    font-family: "Prata", sans-serif;
    font-weight: 500;
}

.even .service-description {
    text-align: left;
    margin-left: 25px;
}

/* @media only screen and (max-width: 768px) {
    .service-wrapper {
        width: 760px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-bottom: 50px;
    }

    .service-content {
        width: 100%;
        position: unset;
        margin: 70px 0;
        padding: 15px 40px;
    }

    .service-img {
        display: none;
    }

    .service-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second .service-logo,
    .fourth .service-logo,
    .sixth .service-logo {
        margin-left: 0px;
    }
    .service-mustache{
        margin: 0 auto;
    }
} */
@media screen and (max-width: 820px) {
    .service-wrapper{
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
    .service-img {
        display: none;
    }
    .service-content {
        width: 100%;
        position: unset;
        margin: 50px 0;
        /* border: 1px solid #9f71509f; */
        /* padding: 15px 40px; */
        /* border-radius: 2em; */
        /* box-shadow: 0 5px 2px rgba(0, 0, 0, 0.349);   */
        float:left;
    }
    .service-heading p{
        font-size: 20px;
    }
    .service-container .service-description{
        max-width: 585px;
    }
    .service-container .service-description p{
        font-size: 18px;
    }
    .service-content:nth-child(even) .service-logo {
        margin-left: 20px;
    }
    .service-content:nth-child(odd) .service-logo{
        margin-right: 20px;
    }
}