@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Alkalami", serif;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

/* .slide {
  width: 100%; } */
#slider .slideshow-container {
  position: relative;
}

/* Hide the images by default */
#slider .mySlides {
  display: none;
}

/* Caption text */
#slider .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
#slider .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
#slider .dot-container {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

#slider .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#slider .active,
#slider .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

#slider .mySlides.active {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
