@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

body {
    background-image: url('./img/15632029335d2c957502ac46.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    background-attachment: fixed;
}

.warpper {
    margin: 0 auto;
    text-align: center;
}

.container {
    padding: 0 250px;
}

.content {
    display: grid;
    grid-template-columns: 20% auto;
    font-family: 'Inter', sans-serif;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.left-content {
    /* background-color: #9f7150; */
    height: 100vh;
    padding: 30px;
    border-radius: 10px 0 0 10px;
    /* position: relative; */
    position: sticky;

}

.left-content-top {
    text-align: center;
}

.left-content .left-content-top .logo {
    width: 80px;
    height: 70px;
    /* padding: 20px; */
    font-size: 30px;
    position: absolute;
    top: 2%;
    left: 0;
    cursor: pointer;
}

.left-content .left-content-top .img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.left-content .left-content-top .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.left-content-top .user-identity .name {
    margin-bottom: 20px;
}

.left-content-top .user-identity .name p:nth-child(1) {
    margin-bottom: 5px;
}

.left-content-top .user-identity .name p:nth-child(2) {
    color: rgba(0, 0, 0, 0.75);
}

.left-content .left-content-bottom .header-bottom-content {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
}

.left-content-bottom .statistics-menu {
    color: black;
}

.left-content-bottom ul.statistics-menu li:nth-child(1) {
    margin-top: 20px;
}

.left-content-bottom ul.statistics-menu>li {
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s linear;
}

.left-content-bottom ul.statistics-menu li.active {
    background-color: #c79f83;
}

.left-content-bottom ul.statistics-menu li:hover {
    background-color: #c79f83;
}

.right-content {
    padding: 10px;
    text-align: center;
}

.right-content .right-content-top {
    margin-bottom: 22px;
    position: sticky;
}

.right-content .right-content-top .box-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 30px;
}

.box-content .box {
    background-color: aliceblue;
    padding: 15px;
    /* font-size: 22px; */
    border-radius: 5px;
    width: 18vw;
    height: 22.5vh;
}

.box-content .box>p:nth-child(1) {
    font-size: 14px;
}

.box-content .box>p:nth-child(2) {
    font-size: 30px;
}

.right-content .right-content-middle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.right-content-middle input {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

.right-content-middle input[type="submit"] {
    background-color: #ce956c;
    border: none;
    color: white;
    cursor: pointer;
}

.right-content-middle input[type="text"] {
    border: none;
    /* width: 70%; */
}

.right-content .right-content-bottom .product-table {
    height: 660px;
    overflow-y: scroll;
    display: block;
    text-align: center;
}

.right-content .right-content-bottom .table .header-table th {
    padding-bottom: 10px;
    font-size: 20px;
    padding-right: 5px;
    text-align: center;
}
table tbody td{
    text-align: center;
}
.table tbody td {
    padding-bottom: 10px;
    /* text-transform: uppercase; */
}

.table tbody td .product-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.right-content .right-content-bottom .table tbody td.status {
    cursor: pointer;
}

tbody td.status i:nth-child(1) {
    margin-right: 10px;
}

tbody td.status i:nth-child(1):hover {
    transition: 0.15s ease-in;
    color: rgb(109, 109, 252);
}

tbody td.status i:nth-child(2):hover {
    transition: 0.15s ease-in;
    color: rgb(250, 90, 90);
}

.booking tbody th:nth-child(1) {
    text-transform: capitalize !important;
}

.product-statistics {
    display: block;
}

.booking-statistics,
.order-statistics,
.account-statistics {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.edit-form-table{
    background-color: #c79f83;
    padding: 10px;
    display: none;
}
.edit-form-table.active{
    display: table-row;
}
.edit-form-table input{
    width: 100px;
    padding: 5px;
}
.btn{
    padding: 10px;
}
.name input {
    width: 90%;
}

.category input {
    width: 90%;
}
